@charset "utf-8";

$bootstrap: #6f5499;
$github: #333333;
$twitter: #55acee;
$patreon: #f96854;
$patreon-blue: #052d49;
$fortyfour: #5f45bb;
$amazon: #ffd863;
$bleeding-green: #ABF47C;
$bleeding-red: #CA1F26;
$star: #FFD257;
$rss: #f26522;

$mauve: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$carbon-width: 300px;
$carbon-height: 100px;
$main-spacing: 3rem;
$intro-width: 1080px;
$sidebar-width: 14rem;

@import "../bulma";

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

%bd-box {
  background-color: $white;
  border-radius: $radius-large;
  box-shadow: 0 1.5rem 1.5rem -1.25rem rgba($black, 0.05);
  display: block;
}

@mixin selection($current-selector: false) {
  @if $current-selector {
    &::-moz-selection {
      @content;
    }

    &::selection {
      @content;
    }
  }
  @else {
    ::-moz-selection {
      @content;
    }

    ::selection {
      @content;
    }
  }
}

@import "./_scss/main";
@import "./_scss/highlight";
@import "./_scss/override";
@import "./_scss/global";
@import "./_scss/index";
@import "./_scss/header";
@import "./_scss/footer";
@import "./_scss/specific";
@import "./_scss/example";
@import "./_scss/callout";
@import "./_scss/bsa";
@import "./_scss/twitter";
@import "./_scss/expo";
@import "./_scss/love";
@import "./_scss/bootstrap";
@import "./_scss/klmn";
@import "./_scss/patreon";
@import "./_scss/sponsors";
@import "./_scss/book";
@import "./_scss/native";
@import "./_scss/focus";
